body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#calculator{
    background-color: rgb(12, 29, 17);
    width: 250px;
    height: 435px;
    border-radius: 10px;
    border-color: blue;
    /* border-top-style: ; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    /* position: relative; */
}
#frame{
    background-color: brown;
    height: 420px;
    width: 240px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    text-align: justify;
    color: black;
    font-size: larger;
    font-family: fantasy;
    /* flex-direction: row; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#screen{
    height: 50px;
    width: 150px;
    padding: 10px;
    text-align: right;
    background-color: aquamarine;
    box-shadow: 500px;
    display: flex;
    text-align: end;
    justify-content: end;
    align-items: end;
    outline: none;
    /* flex-direction: column; */
    margin: 25px;
    border-radius: 10px;
    /* position: absolute; */
}
#button{
    width: 160px;
    height: 180px;
    /* background-color: antiquewhite; */
    /* position: relative; */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
#button1{
    width:60px;
    height: 180px;
    /* background-color: aliceblue; */
    border-radius: 10px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#button2{
   width: 230px;
   height: 70px;
   /* background-color: aliceblue; */
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: 10px;
}
 button{
    height: 50px;
    width: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
 }
 #last{
    height: 60px;
    width: 40px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

