body {
    /* background-color: blue; */
    margin:0px;
    box-sizing: border-box;

}
#all{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background-color: rgb(224, 224, 220);
    top: 30px;
}

#bulb{
    height: 70px;
    width: 90px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 3px solid rgba(59, 5, 90, 0.432);
}
